importlib_metadata==1.5.0
keyring==18.0.1
lxml==4.6.2
Django==2.2.12
lockfile==0.12.2
zipp==1.0.0
dj_database_url==0.5.0
django_heroku==0.3.1
numpy==1.17.4
typing_extensions==3.7.4.3
cryptography==2.8
brotli==1.0.9
Cython==0.29.23
djangorestframework==3.12.4
docutils==0.17.1
ipaddr==2.2.0
mypy_extensions==0.4.3
ordereddict==1.1
protobuf==3.17.1
pyOpenSSL==20.0.1
python-decouple==3.4
wincertstore==0.2
